/*Menu*/

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}
.btn-default:focus, .btn-default.focus {
	color: #fff;
	background-color: #e6e6e6;
	border-color: #8c8c8c
}
.btn-default:hover {
	color: #fff;
	background-color: #972D20;
	border-color: #adadad
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #972D20;
	border-color: #adadad
}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
	color: #fff;
	background-color: #972D20;
	border-color: #8c8c8c
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
	background-color: #fff;
	border-color: #ccc
}
.btn-default .badge {
	color: #fff;
	background-color: #333
}
