/*Меню оценок*/

.tabbable, .tab-content{
	margin-top:7px;
}
.tab-content{
	border-top:1px solid #ddd;}
	
/*student*/
.nav-tabs > li > a
{  color: #444;
    text-decoration: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #972D20;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
/*semestr*/

.nav-pills > li > a {
  border-radius: 4px;
  color:#444;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #972D20;
}
/*
.pagination>li>a, {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px
}

.pagination>li>a:hover,  .pagination>li>a:focus,  {
	z-index: 2;
	color: #fff;
	background-color: #972d20;
	border-color: #ddd
}
.pagination>.active>a, , .pagination>.active>a:hover,  .pagination>.active>a:focus,  {
	z-index: 3;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
	cursor: default
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	z-index: 3;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
	cursor: default
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #972d20;
  border-color: #dddddd;
}*/