.pagination {
	margin: 15px 0 0 15px;
}
.pagination>li>a {
	color: #444;
}
.pagination>li>a:hover, .pagination>li>a:focus {
	color: #fff;
	background-color: #972d20;
	border-color: #ddd;
}
.pagination>.active>a, 
.pagination>.active>a:hover, 
.pagination>.active>a:focus {
	color: #fff;
	background-color: #972d20;
	border-color: #ddd;
}
 .pagination > li > a:hover, .pagination > li > a:focus, {
 color: #fff;
 background-color: #972d20;
 border-color: #dddddd;
}
