
    <div class="hidden-sm hidden-xs">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="templateTitle"> <a href="./"> <img alt="СПбГУ" src="app/header/CoA_Small.png"></a> </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="logotext-border">
                            <div class="logotext">
                                <p class="spbsu-name">Санкт-Петербургский государственный университет</p>
                                <p class="spbsu-site-name">Личный кабинет обучающегося</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <my-menu></my-menu>
