<footer>
    <div class="container">
        <div class="col-sm-12 copyright-text hidden-sm hidden-xs">
            2016© Saint Petersburg State University. Office of Information Technology. Supported by <a runat="server" href="https://it.spbu.ru/support.html#web-support">OIT SPSU.</a> <br />
        </div>
        <div class="col-sm-12 copyright-text visible-sm visible-xs"> 2016© SPbU. Office of Information Technology. Supported by <a href="https://it.spbu.ru/support.html#web-support">OIT SPSU.</a> </div>
    </div>
</footer>
