<div class="navbar navbar-default navbar-static-top menu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="visible-sm visible-xs"> <a class="navbar-brand" href="#">Личный кабинет обучающегося</a> </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbarLeft">
                <li class="nav btn-default"> <a routerLink="/data" routerLinkActive="active">Мои данные</a> </li>
                <li class="nav btn-default"> <a routerLink="/documents" routerLinkActive="active">Мои документы</a> </li>
                <li class="nav btn-default"> <a href="ScoreMenu.html">Мои оценки</a> </li>
                <li class="nav btn-default"> <a routerLink="/claims" routerLinkActive="active">Мои заявки</a> </li>
                <li class="nav btn-default dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Подать заявку<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav"><a href="МaterialAssistanceDemandRed_.html">На материальную помощь</a></li>
                        <li class="divider"></li>
                        <li class="nav"><a href="form_military_hidden.html">На военную кафедру</a></li>
                    </ul>
                </li>
                <li class="nav btn-default"> <a href="ReceiptStudyPay.html">Квитанция на оплату обучения</a> </li>
                <li class="nav btn-default"> <a href="Regulations.html">Нормативные документы</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav btn-default dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">st000000<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav"><a href="data_hidden.html">Мои данные</a></li>
                        <li class="divider"></li>
                        <li class="nav"><a href="index_login.html">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>